version: '3'
services:
  app:
    build:
      dockerfile: Dockerfile.development
    volumes:
      - .:/app
    environment:
      - WATCHPACK_POLLING=true
    ports:
      - "3000:3000"
    command: sh -c "cd src && npm run dev"