.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
  margin: 1rem 0;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  .card_header {
    margin-bottom: 1rem;
    .account_icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
  .textarea {
    font-family: "Noto Sans", "Open Sans";
    width: 100%;
    height: 100px;
    border: none;
    outline: none;
    resize: none;
    font-size: 1.25rem;
    &::placeholder {
      color: #333333;
    }
  }
  .submit_button {
    padding: 0.5rem 1.5rem;
    border: none;
    outline: none;
    background-color: #2f7d95;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: #2a6679;
    }
  }
  .card_text {
    justify-content: center;
  }
}