.header {
  position: fixed;
  z-index: 100;
  background-color: white;
  width: 100%;
  height: 60px;
  padding-left: 40px;
  border-bottom: 1px solid #eaeaea;
  .header_contents {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: flex-start;
    .header_icon {
      width: 40px;
      height: 40px;
      margin: auto 0;
      border-radius: 50%;
      margin-right: 10px;
    }
    .header_title {
      color: #333333;
      font-size: 1.75rem;
      margin: auto 0;
      text-decoration: none;
      &:hover {
        color: #3367d6;
      }
    }
    .header_button {
      margin: auto 40px;
      margin-left: auto;
      border: none;
      outline: none;
      background: none;
      color: #3367d6;
      font-size: 1rem;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: #eaeaea;
        color: #1f51bf;
      }
    }
  }
}