.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  .card_header {
    margin-bottom: 1rem;
    .account_icon {
      width: 75px;
      height: 75px;
      border-radius: 50%;
    }
    .account_info {
      width: calc(100% - 75px);
      padding-left: 1rem;
      .account_name {
        font-size: 1.5rem;
        font-weight: bold;
      }
      .account_id {
        color: #666666;
        font-size: 1rem;
      }
    }
  }
  .card_text {
    text-align: left;
    white-space: pre-wrap;
    line-height: 1.5;
  }
}